extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= computerName
  // p source file: <span id="dataFile">#{dataFile}</span>
  p Past 7 days temperature
  div(id="current")
  div(id="temp-chart")
  p Legend:
  div(id="legend")

  each val, index in dataFiles
    p source file: <span id="dataFile#{index}">#{val}</span>
    <div id="temp#{index}-chart"></div>

  // p <span style="font-size:x-small">build ##{version} at #{buildDate}</span>
  p <small>build ##{version} at #{buildDate}</small>
  script(src="/javascripts/chart.js")
